In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/preeti adhikari/OneDrive/Purva Adhikari/OneDrive/Desktop/customer-360-churn-analytics/data/raw/telco_customer_churn_synthetic.csv")

# Handle missing values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

# Encode categorical columns
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

for col in df.select_dtypes(include='object'):
    if col != 'customerID':
        df[col] = encoder.fit_transform(df[col])

# Feature engineering
df['tenure_group'] = pd.cut(df['tenure'],
                            bins=[0,12,24,48,72],
                            labels=['0-1yr','1-2yr','2-4yr','4-6yr'])

df['charges_ratio'] = (df['MonthlyCharges'] / (df['TotalCharges'] + 1)).round(3)

df.to_csv("C:/Users/preeti adhikari/OneDrive/Purva Adhikari/OneDrive/Desktop/customer-360-churn-analytics/data/processed/processed_telco.csv", index=False)

df.head()

C:\Users\preeti adhikari\AppData\Local\Temp\ipykernel_10520\3811057389.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TotalCharges'].fillna(df['TotalCharges'].median(), inplace=True)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_group,charges_ratio
0,CUST00000,1,1,0,0,52,0,1,2,2,...,1,1,1,1,1,92.91,4810.78,0,4-6yr,0.019
1,CUST00001,1,1,0,0,70,0,0,0,2,...,1,0,2,0,0,101.05,7060.14,0,4-6yr,0.014
2,CUST00002,1,0,1,0,50,1,1,2,1,...,1,0,1,1,2,90.54,4520.57,0,4-6yr,0.020
3,CUST00003,1,1,0,1,67,0,2,2,1,...,0,1,1,1,0,111.71,7477.23,0,4-6yr,0.015
4,CUST00004,0,0,0,0,66,0,1,0,2,...,0,1,0,0,1,43.55,2879.69,0,4-6yr,0.015